div#editor {
  border: solid green 2px;
  border-radius: 8px;
  padding:5px 5px 5px 50px;
  font-family: monospace;
  background-image: linear-gradient(to right, white, white 45px, green 45px, green 48px, white 48px);
}
div#annotations span {
  background-color: #ffc000;
  font-size: small;
  position: absolute;
}
