div#editor {
  border: solid green 2px;
  border-radius: 8px;
  padding:5px 5px 5px 60px;
  font-family: monospace;
  background-image: linear-gradient(to right, white, white 55px, green 55px, green 58px, white 58px);
}
div#annotations span {
  font-size: small;
  position: absolute;
}
span.import {
  background-color: #00c0ff;
}
span.editing {
  background-color: #ffc000;
}
span.unknown {
  background-color: #ffc000;
}
